:root {
  --blue: hsla(201, 93%, 42%, 1);
  --blue-0: hsla(201, 100%, 95%, 1);
  --blue-1: hsla(201, 95%, 80%, 1);
  --blue-2: hsla(201, 71%, 68%, 1);
  --blue-3: hsla(201, 62%, 56%, 1);
  --blue-4: hsla(201, 71%, 48%, 1);
  --blue-4d: hsla(201, 71%, 40%, 1);
  --blue-5: hsla(201, 95%, 30%, 1);
  --blue-6: hsla(201, 95%, 24%, 1);

  --yellow: hsla(46, 100%, 50%, 1) ;
  --yellow-0: hsla(46, 100%, 96%, 1) ;
  --yellow-1: hsla(46, 100%, 86%, 1) ;
  --yellow-2: hsla(46, 100%, 76%, 1) ;
  --yellow-3: hsla(46, 100%, 66%, 1);
  --yellow-4: hsla(46, 100%, 56%, 1);
  --yellow-5: hsla(46, 100%, 47%, 1);
  --yellow-6: hsla(46, 100%, 36%, 1);

  --red: hsla(4, 100%, 50%, 1) ;
  --red-0: hsla(4, 100%, 96%, 1) ;
  --red-1: hsla(4, 100%, 86%, 1) ;
  --red-2: hsla(4, 100%, 76%, 1) ;
  --red-3: hsla(4, 100%, 66%, 1);
  --red-4: hsla(4, 100%, 56%, 1);
  --red-5: hsla(4, 100%, 47%, 1);
  --red-5d: hsla(4, 100%, 42%, 1);
  --red-6: hsla(4, 100%, 36%, 1);

  --grey: hsla(201, 20%, 50%, 1);
  --grey-0: hsla(201, 30%, 95%, 1);
  --grey-1: hsla(201, 25%, 80%, 1);
  --grey-2: hsla(201, 22%, 68%, 1);
  --grey-3: hsla(201, 20%, 56%, 1);
  --grey-4: hsla(201, 22%, 48%, 1);
  --grey-4d: hsla(201, 22%, 41%, 1);
  --grey-5: hsla(201, 30%, 30%, 1);
  --grey-6: hsla(201, 35%, 24%, 1);

  --body-font: 'Oxygen', Arial, Helvetica, sans-serif;
  --display-font: 'Audiowide', Arial, Helvetica, sans-serif;
  --quote-font: Georgia, 'Times New Roman', Times, serif;
}

/* audiowide-regular - latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/audiowide-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Audiowide Regular'), local('Audiowide-Regular'),
       url('./fonts/audiowide-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/audiowide-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/audiowide-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/audiowide-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/audiowide-v8-latin-regular.svg#Audiowide') format('svg'); /* Legacy iOS */
}

/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/oxygen-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oxygen Regular'), local('Oxygen-Regular'),
       url('./fonts/oxygen-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/oxygen-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/oxygen-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/oxygen-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/oxygen-v9-latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
}

body {
  color: var(--grey-6);
  font-family: var(--body-font);
  padding: 69px 0 0 0;
  margin: 0;
}

/* okay uppercase    */
h1, h2, h3 {
  font-family: var(--display-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--blue-4d);
}
h1 { font-size: 48px; margin: 32px 0; }
h2 { font-size: 32px; margin: 20px 0; }
h3 { font-size: 18px; margin: 14px 0; }
p {
  font-size: 16px;
  line-height: 1.8em;
  margin: 1em auto;
  max-width: 38em;
  text-align: left;}
p.lead {
  color: var(--blue-4d);
  font-size: 24px;
  text-align: center;}
.text-center { text-align: center; }
.stripe {
  border-left: 16px solid var(--red-5);
  border-right: 16px solid var(--blue-5);
  left: -24px;
  min-height: 500px;
  position: absolute;
  top: 0;
  width: 16px;
}
.page-header {
  background: url("./images/dashboard_1200.jpg") center center no-repeat;
  background-color: var(--grey-5);
  background-size: cover;
  background-blend-mode: multiply;
  border-left: 16px solid var(--red-6);
  border-right: 16px solid var(--blue);
  margin: 32px 0 0 0;}
.page-header .content { margin: 128px auto 64px; }
.page-header .title {
  color: white;
  font-size: 7.5vw;}
.tagline {
  color: var(--blue-1);
  font-size: 5vw;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;}
.quote {
  grid-column: span 2;
  font-family: var(--quote-font);
  font-size: 20px;
  font-style: italic;
  position: relative;
  left: 0;}
.quote::before {
  content: "\201C";
  opacity: 20%;
  font-size: 110px;
  position: absolute;
  left: -38px;
  top: 26px;}
.dark-bg .quote::before { opacity: 30%; }
.quote-attribution {
  color: var(--grey-1);
  font-style: italic;
  margin: auto 0;}
.author {
  color: var(--grey-0);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;}
.grid-quote {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 8px;
  margin-bottom: 16px;}
.grid-quote img {
  filter: sepia(50%) hue-rotate(320deg) saturate(120%);
  border-radius: 50%;}
.anonymous-user {
  height: 80px;
  width: 80px;
  background-color: hsla(4, 30%, 20%, 1);
  border-radius: 50%;}
.anonymous-user svg {
  display: block;
  height: 90%;
  margin: auto;}

.button {
  border: none;
  background-color: var(--red-6);
  box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.12);
  color: white;
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover { background-color: var(--red-5d); }

.link {
  border-bottom: 1px solid var(--blue-1);
  box-shadow: var(--blue-1) 0px -2px 0px 0px inset;
  color: var(--blue-5);
  margin-right: 0.2rem;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }
.link:hover {
  background: var(--blue-1);
  text-shadow: none;
  border: none; }
.link.link-light {
  border-bottom: 1px solid var(--blue-4);
  box-shadow: var(--blue-4) 0px -2px 0px 0px inset;
  color: var(--blue-1); }
.link.link-light:hover {
  background: var(--blue-4);
  color: var(--blue-0); }

section, .page-header, footer {
  margin: 32px auto;
  max-width: 1200px;
  padding: 32px 24px;
  position: relative;
  text-align: center;}
header.page-header {margin-top: 0;}
footer { margin-bottom: 0; }
.content {
  max-width: 960px;
  margin: 0 auto;}
article { padding: 16px; }
.bg-tint { background-color: var(--blue-0); }
.bg-dark {
  background-color: var(--blue-6);
  color: var(--grey-0);}
.bg-charcoal { background-color: var(--grey-6); }
.bg-grey { background-color: var(--grey-0); }
.bg-white {
  background-color: rgba(255,255,255,0.9);
  color: var(--grey-6);}
.bg-white h3 { color: var(--blue); }
.bg-speedometer {
  background: url("./images/speedometer_1200.jpg") center center no-repeat;
  background-color: var(--grey-5);
  background-size: cover;
  background-blend-mode: multiply;
  border-left: 16px solid var(--red-6);
  border-right: 16px solid var(--blue);}
.border-top-chevron { margin-top: 96px; }
.border-top-chevron::before {
  background-image: url('./images/chevron.svg');
  content: " ";
  height: 30px;
  left: calc(50% - 60px);
  position: absolute;
  top: -8px;
  width: 120px;
}
.border-bottom-chevron { margin-bottom: 96px; }
.border-bottom-chevron::after {
  background-image: url('./images/chevron.svg');
  content: " ";
  height: 30px;
  left: calc(50% - 60px);
  position: absolute;
  bottom: -8px;
  width: 120px;
}
.dark-bg {
  color: var(--grey-0);
}
.dark-bg h1, .dark-bg h2 { color: var(--blue-1); }
.bg-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#034f77+0,0768cf+100,0fa35e+100,033b77+100 */
  background: rgb(3,79,119); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(3,79,119,1) 0%, rgba(7,104,207,1) 100%, rgba(15,163,94,1) 100%, rgba(3,59,119,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(3,79,119,1) 0%,rgba(7,104,207,1) 100%,rgba(15,163,94,1) 100%,rgba(3,59,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(3,79,119,1) 0%,rgba(7,104,207,1) 100%,rgba(15,163,94,1) 100%,rgba(3,59,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034f77', endColorstr='#033b77',GradientType=1 ); /* IE6-9 */
}

/* Services section */
#services {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-gap: 24px;
  margin-bottom: 32px;
  max-width: 100%;
  width: 960px;}
#services article {
  align-items: center;
  display: flex;
  flex-direction: column;}
.icon {
  align-items: center;
  background-color: var(--red-6);
  border-radius: 100%;
  color: white;
  display: flex;
  height: 80px;
  justify-content: center;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
  width: 80px;}
#services article:hover .icon {
  background-color: rgba(255,255,255,0);
  color: var(--red-6);}

/* About section */
.headshot {
  filter: sepia(50%) hue-rotate(320deg) saturate(120%);
  border-radius: 50%;}
.card h3 { font-size: calc(3vw + 10px);}
.card em {
  color: var(--grey-4d);
  font-size: 18px;
  line-height: 24px;
}
.social { margin: 16px 0;}
.social a {
  color: var(--red-6);
  display: inline-block;
  margin: 8px; }
.social a:hover { color: var(--red-5d);}
.about-description { grid-column: span 2;}

/* Offset navigation targets for navbar size */
.OffsetNavTarget {
  margin-top: -90px;
  padding-top: 90px;}

/* Navigation */
.MobileNav__MobileNavLink{
  border-top:1px solid var(--grey-0);
  color: var(--blue-4d);
  font-size: 0.8em;
  font-weight: 700;
  padding: 1.5em 1.5em 1.5em 1em;
  -webkit-text-decoration: none;
  text-decoration: none;}
  .MobileNav__MobileNavLink:hover{ background-color:var(--grey-0);color:var(--blue-4);}
  .MobileNav__MobileNavLink:focus{ background-color:var(--grey-0);color:var(--blue-4);}
  .MobileNav__MobileNavLink:last-of-type{border-bottom:1px solid var(--grey-0);}
.MobileNav__MenuLink{
  background-color:var(--blue-4);
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.12);
  color: white;
  /* cursor:pointer; */
  font-size:0.8em;
  font-weight:700;
  padding: 0.5em 1em;
  text-transform:uppercase;}
.MobileNav__MenuLink:hover{ filter: opacity(90%); }
.MobileNav__MenuLink:focus{ filter: opacity(90%); }
.MobileNav__MobileTopNav{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:1em 1em 1em 0.5em;
  margin:0 auto;}
.MobileNav__NavMobileContainer{position:relative;} @media (min-width:800px){.MobileNav__NavMobileContainer{display:none;}}
.MobileNav__MobileLinks.is-visible{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;overflow:visible;-webkit-transition:-webkit-transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;-webkit-transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;} .MobileNav__MobileLinks.is-hidden{display:none;overflow:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);opacity:0;-webkit-transition:-webkit-transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;-webkit-transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;}
.Navbar__StyledLink{color:var(--blue-4d);font-weight:700;padding:1em;-webkit-text-decoration:none;text-decoration:none;} .Navbar__StyledLink:hover{color:var(--blue-4d);}
.Navbar__Nav{
  background:rgba(255,255,255,0.97);
  position:fixed;
  text-transform: uppercase;
  top:0;
  width: 100vw;
  z-index:5;}
.Navbar__NavDesktopContainer{display:none;} @media (min-width:800px){.Navbar__NavDesktopContainer{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin:0 auto;max-width:980px;padding:15px;}}
.Navbar__NavLinks{margin-top:9px;}

/* Contact */
.form button, .form label {
  display: block;
  margin: 24px auto;
  width: 90%;}
.form input {
  height: 2rem;}
.form input, .form textarea {
  border: none;
  color: var(--grey-5);
  display: block;
  font-family: var(--body-font);
  font-size: 16px;
  margin: 4px 0;
  padding: 4px;
  width: 100%;}
form label {
  font-weight: 700;
  margin: 4px 0 0 0;
  text-align: left;}
.form button {
  box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.12);
}
@media screen and (min-width: 800px){
  body {padding: 69px 48px 0 48px;}
  p {font-size: 18px;}
  p.lead {font-size: 36px;}
  .page-header .title {font-size: 64px;}
  .quote {font-size: 24px;}
  .quote::before{
    font-size: 150px;
    left: -46px;
    top: 34px;}
  section, header.page-header {
    margin: 48px auto;
    padding: 48px;}
  footer {
    margin: 48px auto 0;
    padding: 48px;}
  .tagline {font-size: 36px;}
  article { padding: 40px; }
  h1 { font-size: 72px; margin: 48px 0; }
  h2 { font-size: 48px; margin: 32px 0; }
  h3 { font-size: 24px; margin: 16px 0; }
  .Navbar__Nav{width: calc(100vw - 96px);}
  .card {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    margin: 0 auto;
    max-width: 750px;}
  .card h3 { font-size: 30px;}
  .grid-quote {grid-gap: 20px;}
}
@media screen and (min-width: 1030px){
  #services { grid-template-columns: repeat(3, 1fr);}
  #services .span-3 { grid-column-start: span 3; }
  #services article { padding: 40px 24px 32px; }
  #services article p { font-size: 16px; }
}
